#main {
    background-color: whitesmoke;
}

.title {
    text-align: center;
    padding: 2em;
}

.current_trip {
    padding: 4em;
}

#id {
    padding-left: 6em;
    margin: 2em;
    font-size: larger;
}

.trip {
    margin: 2em;
}

.btn_1 {
    /* border: 2px solid black; */
    margin: 3em;
    padding: 8px 24px;
    background-color: white;
    font-size: medium;
}

.flex {
    display: flex;
    justify-content: space-around;
}

#red {
    background-color: red;
    color: white;
}

.flex_row {
    display: flex;
    justify-content: space-between;
}

.flexy {
    display: flex;
    margin: -1em;
    justify-content: center;
}

.btn {
    margin-top: 4em;
}

.description {
    font-size: large;
    margin: .5em;
}

/* create and edit forms */

.flex_form {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.input_form1 {
    align-self: center;
}

.form-control1 {
    width: 40em;
    font-size: large;
    height: .5em;
    padding: 1em;
}

.form-group {
    margin-bottom: 2em;
}

.dec_edit {
    margin: 2em 1em;
    font-size: larger;
}

.input_form2 {
    align-self: center;
    font-size: large;
    margin: 1em;
}

#checked {
    margin: 1em;
    width: 1.5em;
    height: 1.5em;
}

.even_out {
    justify-content: space-evenly;
}

.form-control2 {
    /* width: 40em; */
    font-size: large;
    height: .5em;
    padding: 1em;
}

#title {
    font-size: 1.2em;
    margin: 1em;
}

.truck {
    /* border: 2px solid red; */
    align-self: center;
}